.banner-home {
  background-size: cover;
  background-position: center;
  padding: 180px 0;
}

.card-home {
  background-color: white;
  width: 360px;
  border-radius: 4px;
  padding: 44px;
  margin-left: 40px;
}

.card-home a {
  text-decoration: none;
    color: white;
    background-color: #013328;
    padding: 13px 51px;
    margin-top: 1px;
    padding-top: 10px;
    border-radius: 4px;
}

.card-home h2 {
  padding-bottom: 15px;
}
