.icon-nav {
  background: rgb(255, 255, 255);
}

.link {
  color: $terracotta;
  transition: 0.05s;

}

.link:hover {
  color: $vert;
  border-bottom: $vert solid 1px;
}

.link:active {
  color: $vert;
  border-bottom: $vert solid 1px;
}
