.img-product {
width: 291px;
height: 294px;
object-fit: cover;
background: #013328;
border-radius: 12px;
margin: 2px;
}

.img-map {
  width: 700px;
  height: 350px;
  object-fit: cover;
  border-radius: 4px;
}
