.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
<<<<<<< HEAD
  width: 110px;
=======
  width: 200px;
>>>>>>> 02ee49b80af7f9b5908d115df6e7bde9476d5444
}
