.navbar-lewagon {
  justify-content: space-between;
  background: #013328;
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 60px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
<<<<<<< HEAD
  width: 110px;
=======
  width: 200px;
>>>>>>> 02ee49b80af7f9b5908d115df6e7bde9476d5444
}

.navbar-lewagon .hello {
  margin-right: 60px;
}
